.navbar {
  margin-top: 50px;
  p {
    width: fit-content;
    margin: 25px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #282828;
    font-size: 12px;
    cursor: pointer;
  }
}
