//Branding & Accent Colors
$dark-orange: #97422b;
$light-orange: #c17c5b;
$apricot: #fcd0b3;
$sage: #eeebe4;
$off-white: #f9f9f9;

//animations
$custom-ease: cubic-bezier(0.4, 0, 1, 1);

//breakpoints
$small: 576px;
$medium: 960px;
$large: 1280px;
$extra-large: 1920px;
