//Branding & Accent Colors
$accent-color: #a9b18f;
$lighter-grey: #f4f4f4;
$light-grey: #e2e2e2;
$custom-ease: cubic-bezier(0.4, 0, 1, 1);

//Client-Theme Colors
$green: #606f57;
$light-green: #879a71;
$blue: #417285;
$light-blue: #7e999b;
$goldenrod: #dcab41;
$sandstone: #c17258;

//breakpoints
$small: 576px;
$medium: 960px;
$large: 1280px;
$extra-large: 1920px;
