@import "../../../../styles/variables";

.shadow {
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 150ms ease-in-out;
  z-index: 2;
}

.sidebar {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: $sage;
  animation: slideIn 150ms ease-in-out;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

@keyframes slideIn {
  from {
    left: -50vw;
  }
  to {
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
