@import "../../../styles/variables";

.outerContainer {
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.container {
  background: $sage;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Philosopher";
  position: relative;
  color: #282828;
  i {
    position: absolute;
    left: 0;
    margin-left: 25px;
    font-size: 15px;
  }
}
